@model Assessment.Review.Models.Inventory

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>
@*ViewData["Id"]*@
<h3>
    @using (Html.BeginForm(new { ID = ViewData["ID"] }))
    {
        @Html.LabelFor(model => model.Quantity)
        @Html.EditorFor(model => model.Quantity)

        <button type="submit">Order</button>
    }
</h3>

